<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">
      Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00</td>  <td>
        <a href="shell/01-intro/index.html">
        Introducing the Shell</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/02-filedir/index.html">
        Navigating Files and Directories</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/03-create/index.html">
        Working With Files and Directories</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/04-pipefilter/index.html">
        Pipes and Filters</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/05-loop/index.html">
        Loops</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/06-script/index.html">
        Shell Scripts</a></td> </tr>
      <tr> <td></td>  <td>
        <a href="shell/07-find/index.html">
        Finding Things</a></td> </tr>
      <tr> <td>4:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>
        <a href="git/setup.html">
        Setup
      </a></td> </tr>
      <tr> <td>1:00</td>  <td>
        <a href="git/01-basics/index.html">
        Automated Version Control
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/02-setup/index.html">
        Setting Up Git
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/03-create/index.html">
        Creating a Repository
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/04-changes/index.html">
        Tracking Changes
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/05-history/index.html">
        Exploring History
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/06-ignore/index.html">
        Ignoring Things
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/07-github/index.html">
        Remotes in GitHub
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/08-collab/index.html">
        Collaborating
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/09-conflict/index.html">
        Conflicts
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/10-open/index.html">
        Open Science
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/11-licensing/index.html">
        Licensing
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/12-citation/index.html">
        Citation
      </a></td> </tr>      
      <tr> <td></td>  <td>
        <a href="git/13-hosting/index.html">
        Hosting
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="git/14-supplemental-rstudio/index.html">
        Supplemental: Using Git from RStudio
      </a></td> </tr>            
      <tr> <td>4:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - R for Reproducible Scientific Analysis</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>
        <a href="R/01-rstudio-intro/index.html">
        Introduction to R and RStudio
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/02-project-intro/index.html">
        Project Management With RStudio
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/03-seeking-help/index.html">
        Seeking Help
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/04-data-structures-part1/index.html">
        Data Structures
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/05-data-structures-part2/index.html">
        Subsetting Data
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/07-control-flow/index.html">
        Control Flow
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/08-plot-ggplot2/index.html">
        Creating Publication-Quality Graphics with ggplot2
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/09-vectorization/index.html">
        Vectorization
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/10-functions/index.html">
        Functions Explained
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/11-writing-data/index.html">
        Writing Data
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/12-plyr/index.html">
        Splitting and Combining Data Frames with plyr
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/13-dplyr/index.html">
        Data frame Manipulation with dplyr
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/14-tidyr/index.html">
        Data frame Manipulation with tidyr
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/15-knitr-markdown/index.html">
        Producing Reports With knitr
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="R/16-wrap-up/index.html">
        Writing Good Software
      </a></td> </tr>
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - R for Reproducible Scientific Analysis</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td></td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>4:30</td>  <td>Finish</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
