<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">
      Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">
        Introducing the Shell</a></td> </tr>
      <tr> <td>13:05</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">
        Navigating Files and Directories</a></td> </tr>
      <tr> <td>13:35</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">
        Working With Files and Directories</a></td> </tr>
      <tr> <td>14:15</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">
        Pipes and Filters</a></td> </tr>
      <tr> <td>14:40</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">
        Loops</a></td> </tr>
      <tr> <td>15:20</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/06-script/index.html">
        Shell Scripts</a></td> </tr>
      <tr> <td>15:55</td>  <td>
        <a href="https://swcarpentry.github.io/shell-novice/07-find/index.html">
        Finding Things</a></td> </tr>
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/setup.html">
        Setup
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/01-basics/index.html">
        Automated Version Control
      </a></td> </tr>
      <tr> <td>13:05</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/02-setup/index.html">
        Setting Up Git
      </a></td> </tr>
      <tr> <td>13:10</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/03-create/index.html">
        Creating a Repository
      </a></td> </tr>
      <tr> <td>13:20</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/04-changes/index.html">
        Tracking Changes
      </a></td> </tr>
      <tr> <td>13:40</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/05-history/index.html">
        Exploring History
      </a></td> </tr>
      <tr> <td>14:05</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html">
        Ignoring Things
      </a></td> </tr>
      <tr> <td>14:10</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/07-github/index.html">
        Remotes in GitHub
      </a></td> </tr>
      <tr> <td>14:55</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/08-collab/index.html">
        Collaborating
      </a></td> </tr>
      <tr> <td>15:20</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html">
        Conflicts
      </a></td> </tr>
      <tr> <td>15:35</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/10-open/index.html">
        Open Science
      </a></td> </tr>
      <tr> <td>15:45</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/11-licensing/index.html">
        Licensing
      </a></td> </tr>
      <tr> <td>15:50</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/12-citation/index.html">
        Citation
      </a></td> </tr>      
      <tr> <td>15:55</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/13-hosting/index.html">
        Hosting
      </a></td> </tr>
      <tr> <td>16:05</td>  <td>
        <a href="https://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">
        Supplemental: Using Git from RStudio
      </a></td> </tr>            
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - R for Reproducible Scientific Analysis</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:55</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:25</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:15</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:40</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>15:20</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>15:55</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - R for Reproducible Scientific Analysis</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:55</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:25</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:15</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>14:40</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>15:20</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>15:55</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>13:00</td>  <td>
        <a href="">
        Lesson
      </a></td> </tr>
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
